.child h1{
    height: 60vh;
}
.region-countries{
    height: 40vh;
}
.spin{
    height: 9vh;
    width: 9vh;
    border-width: .3vw;
}
.spin-small{
    height: 5vh;
    width: 5vh;
    border-width: .3vw;
    color: #333030;
}
/*welcome*/
select{
    width: 20vw;
}
.parent span:first-child{
    cursor: pointer;
}
.flex-continents h1{
    background: #03A9F4;
    height: 70vh;
}
.child{
    background-image: url(../../images/world.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 200vh;
}
@media (max-width:991px){
    .child{background-image: url();}
}
/**/
.EuropeConts-parent{
    min-height: 80vh;
}
.flex-countries div{
    background: #a2d5ee;
    width: calc(95% / 4);
    height: 40vh;
}
@media (max-width: 767px){
    .top-div{font-size: 5vw;}
    .flex-countries div{ width: 100%;}
}
.names div{
    color: blue;
    margin-right: 3vw;
}
.api-container .flex div{
    font-size: 1.6vw;
}
.api-container .left{
    background: aliceblue;
}
.left h1{
    font-size: xxx-large;
}
.api-container .left h4{
    font-weight: normal;
    color: crimson;
}
.row{
    margin-left: 0;
    margin-right: 0;
}
.left-left{
    color: #34a910;
}
.map a{ 
    background: #fff3e4; 
    height: 50vh;
    font-family: cursive;
    letter-spacing: 1vw;
    font-variant: small-caps;
}
@media (max-width: 767px){
    .api-container{
        margin-left: 0;
        margin-right: 0;
    }
    .right{
        margin-bottom: 10vh;
     }
    .right div{
       height: 100vh;
       border: 1px solid gray;
    }
    .right img{
        height: 100%;
    }
    .map a{
        font-size: 6vw;
        height: 100%;
    }
    .right,.left{
        padding-left: 0;
        padding-right: 0;
    }
}
h3 span,h4 span{
    color: gray;
    font-weight: normal;
}
.bottom-div{
    height: 15vh;
}
/* footer **/
@media (max-width: 767px){
    .footer p{font-size: 4vw;}
     i{font-size: 6vw;}
}
/**/
.dark-bl-back{background: #1b0e6b;} 
.none{display: none;}
.w-fit{width: fit-content;}
.pointer{cursor: pointer;}